name: GNNLux
on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
jobs:
  test:
    name: Julia ${{ matrix.version }} - ${{ matrix.os }} - ${{ matrix.arch }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        version:
          - '1.10' # Replace this with the minimum Julia version that your package supports.
          # - '1' #  '1' will automatically expand to the latest stable 1.x release of Julia.
          # - 'pre'
        os:
          - ubuntu-latest
        arch:
          - x64

    steps:
      - uses: actions/checkout@v4
      - uses: julia-actions/setup-julia@v2
        with:
          version: ${{ matrix.version }}
          arch: ${{ matrix.arch }}
      - uses: julia-actions/cache@v2
      - uses: julia-actions/julia-buildpkg@v1
      - name: Install Julia dependencies and run tests
        shell: julia --project=monorepo {0}
        run: |
          using Pkg
          # dev mono repo versions
          pkg"registry up"
          Pkg.update()
          pkg"dev ./GNNGraphs ./GNNlib ./GNNLux"
          Pkg.test("GNNLux"; coverage=true)
      - uses: julia-actions/julia-processcoverage@v1
        with:
          # directories: ./GNNLux/src, ./GNNLux/ext
          directories: ./GNNLux/src
      - uses: codecov/codecov-action@v4
        with:
          files: lcov.info
